* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #1c1c1c;
    color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282828;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #e4b381; 
}

.faq-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
    border-top: 2px solid #e4b381;
    overflow: hidden; 
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.faq-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.faq-question {
    font-weight: 700;
 cursor: pointer;
    font-size: 1.5rem;
    padding: 15px;
    position: relative;
    transition: color 0.3s ease;
}

.faq-question:hover {
    color: #e4b381; /
}

.faq-answer {
    max-height: 0; 
    overflow: hidden; 
    transition: max-height 0.5s ease, opacity 0.5s ease; 
    opacity: 0; 
    margin: 0 15px 15px;
    font-size: 1.2rem;
}

.faq-answer.open {
    max-height: 100px; 
    opacity: 1; 
}

.corner-button{
    border-radius: 26.5px;
    background-color: #e4b381;
    border: 1px solid #e4b381;
    box-shadow: 0 2px 22px -4px #64615f;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 999;
  }
  
  .corner-button:hover {
    background-color: #ffffffda;
    border: 1px solid #ffffffda;
    color: #e4b381;
  }
  
  .corner-button:focus {
    outline: none;
  }