.pad {
    box-sizing: border-box;
      font-size: 18px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .fixed {
      position: fixed;
  }
  
  .text-white {
      color: white;
  }
  
  .items-center {
      align-items: center;
      justify-content: center;
  }
  
  .button {
    padding: 5%;
      background-color: #e4b381;
      color: white;
      border-radius: 10px;
      font-size: 36px;
      font-weight: bold;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
  }
  
  .button:hover {
      background-color: #b68e65;
      cursor: pointer;
  }
  
  .popup {
    width: 30vw;
      background-color: white;
    padding: 3%;
      border-radius: 10px;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      display: flex;
      flex-direction: column;
      top: 50%;
      left: 50%;
    margin-left: -15vw;
    margin-top: -30vh;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
  
  .corner-button {
    position: fixed;
    bottom: 15px; 
    right: 15px; 
    background-color: #e4b381; 
    color: white; 
    padding: 9px 15px; 
    border: none; 
    border-radius: 15px; 
    font-size: 13px; 
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Font */
    text-decoration: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s, transform 0.3s, opacity 0.3s; /* Transisi saat hover */
    opacity: 0.8; 
}

.corner-button:hover {
    background-color: #b38d66;
    transform: translateY(-2px); 
    opacity: 1; 
}